* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background: radial-gradient(ellipse, #1E1E1E, #2a474c);
    width: 100%;
}

.navbar{
    width: 100%;
    height: 100px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 30px 0px 0px;
}
.menu ul{
    display: flex;
}
.menu li {
    list-style: none;
} 

 .menu li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 17px;
    position: relative;
}
.menu li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color:#5893ac;
    transition: all 0.5s;
}
.menu li a:hover::after{
    width: 100%;
}
.joinbtn{
    padding-left: 20px;
}
.joinbtn button{
    border-radius: 100px;
    background-color: #4D89A3;
    color: white;
    padding:15px 35px;
    border: none;
    outline: none;
    transition: all 0.3s;
    font-size: 16px;
}
.joinbtn button:hover{
    background-color: #0e3f54;
    width: 100%;
}

.tomb-head{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tomb-child{
    width: 100%;
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    padding: 0px 0px 0px 40px;
}

.tomb-child h1 {
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 130px;
    letter-spacing: 0.12em;
    font-weight: 800;
}

.tomb-child h2 {
    color: #44788c;
    text-align: start;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    
}
.buttons{
    padding-top: 18px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
}
.buttons .button-1,.button-2{
    padding: 15px 25px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: #4d89a3;
    color: #ffffff;
    transition: all 0.4s;
}
.button-1:hover{
    background-color: #0e3f54;
}
.buttons .button-2{
    background-color:#fff;
    color: #207194;
}
.button-2:hover{
    background-color: #0e3f54;
}

hr.line{
    margin-top: 40px;
    width: 90%;
}

.part-1{
    width: 100%;
    padding: 30px 20px;
}
.heading_text h1,h2{
    color: #fff;
    text-align:center;
    padding: 10px;
    font-size: 30px;
}
.heading_text h2{
    font-size: 20px;
}
.unlock{
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.content{
    width: 45%;
    padding: 20px;
}
.unlock .content p{
    color: #fff;
    line-height: 25px;
    letter-spacing: 1px;
    padding: 10px;
    font-size: 19px;
    text-align: center;
}
.unlock .image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px 10px 10px;
}
.unlock .image img{
    width: 450px;
    z-index: -1;
}
.btn-join{
    background-color: #4d89a3;
    color: white;
    border: 1px solid #4d89a3;
    border-radius: 5px;
    height: 25px;
    width: 80px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
}

.what-to h2{
    color: #fff;
    font-family: sans-serif;
    font-size: 40px;
    letter-spacing:1px;
    text-align: center;
}

.what-to h4{
    color: white;
    font-family: sans-serif;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.boxes {
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-wrap: wrap;
    padding: 20px;
}

.boxes > .row div > button {
    background-color: #191919;
    color: white;
    border: 2px solid #518DA6;
    border-radius: 8px;
    padding: 15px 35px;
    text-align: center;
    font-family: sans-serif;
    font-size: 13px;
    margin: 10px 0px;
    transition: all 0.4s;
  }

  .boxes > .row div > button:hover {
    background-color: #5893ac;
  }
.join_btn{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px 0px;
}
.btn-join-2{
    background-color: transparent;
    color: #518DA6;
    border: 1px solid #4d89a3;
    border-radius: 6px;
    padding: 16px 30px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.2em;
    transition: all 0.3s;
}
.join_btn .btn-join-2:hover{
    background-color: #0e3f54;
}

.testimonials {
    color: #44788c;
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 0.07em;
}

.testimonials h2 span {
    display: block;
}

.tests {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 20px 0px 20px;
}
  
.test {
    width: 32%;
    margin-bottom: 2rem;
    text-align: center;
}
  
.test h3 {
    color: #fff;
    font-size: 20px;
    border-bottom: 2px solid cornflowerblue;
    padding-bottom: 10px;
}

  
  .test p {
    font-family: sans-serif;
    color: #ACDBEF;
    font-size: 13px;
    line-height: 35px;
  }
  
  .test hr {
    width: 40px;
    margin: 0 auto;
    margin-top: 1rem;
    border: none;
    border-top: 1px solid #44788c;
  }

  .test-btn{
    background-color: transparent;
    color: #518DA6;
    border: 1px solid #4d89a3;
    border-radius: 3px;
    height: 25px;
    width: 100px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 10px;
    letter-spacing: 0.2em;
  }

  .image-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.image-2 img{
    width:100%;
    height: 200px;
}
.image_text{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.image-2 .image_text button{
    padding: 15px 45px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}
.image_text button:hover{
    background-color: #0e3f54;
}
.image_text h2 span{
    font-size:18px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
}

footer > p{
    color: white;
    font-family: sans-serif;
    letter-spacing: 0.2em;
    font-size: 10px;
}
@media screen and (max-width:768px) {
    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 100%;
        padding: 20px;
    }
    .tomb-child h1 {
        color: white;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 90px;
        letter-spacing: 0.12em;
        font-weight: 800;
    }
    .joinbtn button{
        padding:15px 35px;
    }
    .unlock{
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }
    .content{
        width: 100%;
        padding: 20px 5px;
    }
    .unlock .image img{
        width: 350px;
        z-index: -1;
    }
    .tests {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
    .tests .test{
        width: 45%;
    }
}
@media screen and (max-width:600px) {
    .menu {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
        padding: 30px 0px 0px;
        margin-bottom: 30px;
    }
    .joinbtn{
        padding: 0px 15px 30px 0px;
    }
    .tomb-child h1 {
        color: white;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 60px;
        letter-spacing: 0.12em;
        font-weight: 800;
    }
    .tests {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 100%;
    }
    .tests .test{
        width: 100%;
    }
    .boxes .row3{
        display:flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}